.banner {
	background-image: linear-gradient(-225deg, rgba(70,30,30,0.8) 0%, rgba(35,15,15,0.2) 50%),  url(../../Images/background.png);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner-cards {
	background-image: linear-gradient(-225deg, rgba(20,60,0,0.8) 0%, rgba(10,30,0,0.2) 50%),  url(../../Images/playing-cards.png);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}


.banner-cards h1 {
	font-family: odibee;
	font-style: italic;
}


.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;

	

}


.banner h1 {
	font-family: odibee;
	font-style: italic;
